/* 
    Document   : overwrite
    Created on : Jan 27, 2012, 2:20:55 AM
    Author     : codextips
    Description:
        Purpose of the stylesheet follows.
        Overwrite the css
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.form-stacked label {
    display: inline;
}

label.error{
    display: inline;
    color: red;
    font-size: 0.9em;
    font-style: italic;
    font-weight: normal;
}

.pull-right .sign-in-with {
    float: left;
    width: 80px;
    color: gray;
}

/* RATER PLUGIN */
.ui-rater>span {vertical-align:top;}
.ui-rater-rating {margin-left:.8em}
.ui-rater-starsOff, .ui-rater-starsOn {display:inline-block; height:18px; background:url(../images/stars.png) repeat-x 0 0px;}
.ui-rater-starsOn {display:block; max-width:90px; top:0; background-position: 0 -36px;}
.ui-rater-starsHover {background-position: 0 -18px!important;}
